//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 16 22:57:50 2020
//! **************************************************************************

SCHEMATIC START;
COMP "common1_P43" LOCATE = SITE "P43" LEVEL 1;
COMP "DIP8_P99" LOCATE = SITE "P99" LEVEL 1;
COMP "d_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "SW4__P58" LOCATE = SITE "P58" LEVEL 1;
COMP "common2_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "SW1__P62" LOCATE = SITE "P62" LEVEL 1;
COMP "e_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "clkbb_K3_11_P132" LOCATE = SITE "P132" LEVEL 1;
COMP "red_P14" LOCATE = SITE "P14" LEVEL 1;
COMP "yellow_P9" LOCATE = SITE "P9" LEVEL 1;
COMP "common3_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "buttonOut_K3_7_P138" LOCATE = SITE "P138" LEVEL 1;
COMP "flag_output_K3_13_P127" LOCATE = SITE "P127" LEVEL 1;
COMP "f_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "SW5__P57" LOCATE = SITE "P57" LEVEL 1;
COMP "SW2__P61" LOCATE = SITE "P61" LEVEL 1;
COMP "LED0_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "g_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "a_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "flag_K3_9_P134" LOCATE = SITE "P134" LEVEL 1;
COMP "cclk_K3_15_P124" LOCATE = SITE "P124" LEVEL 1;
COMP "LED7_P67" LOCATE = SITE "P67" LEVEL 1;
COMP "bitOut_K3_5_P140" LOCATE = SITE "P140" LEVEL 1;
COMP "b_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "green_K1_13_P7" LOCATE = SITE "P7" LEVEL 1;
COMP "SW6__P56" LOCATE = SITE "P56" LEVEL 1;
COMP "OSC_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "P75" LOCATE = SITE "P75" LEVEL 1;
COMP "P78" LOCATE = SITE "P78" LEVEL 1;
COMP "P79" LOCATE = SITE "P79" LEVEL 1;
COMP "SW3__P59" LOCATE = SITE "P59" LEVEL 1;
COMP "blue_P11" LOCATE = SITE "P11" LEVEL 1;
COMP "common0_P44" LOCATE = SITE "P44" LEVEL 1;
COMP "SW0__P66" LOCATE = SITE "P66" LEVEL 1;
COMP "c_P35" LOCATE = SITE "P35" LEVEL 1;
COMP "white_P16" LOCATE = SITE "P16" LEVEL 1;
SCHEMATIC END;

