
NET "LED0_P82" LOC = P82;
NET "LED7_P67" LOC = P67;
NET "P79" LOC = P79;
NET "P78" LOC = P78;
NET "P75" LOC = P75;

NET "OSC_P123" LOC = P123;

NET "green_K1_13_P7" LOC = P7;
NET "yellow_P9" LOC = P9;
NET "blue_P11" LOC = P11;
NET "red_P14" LOC = P14;
NET "white_P16" LOC = P16;

NET "SW0__P66" LOC = P66;
NET "SW1__P62" LOC = P62;
NET "SW2__P61" LOC = P61;
NET "SW3__P59" LOC = P59;
NET "SW4__P58" LOC = P58;
NET "SW5__P57" LOC = P57;
NET "SW6__P56" LOC = P56;
NET "bitOut_K3_5_P140" LOC = P140;
NET "buttonOut_K3_7_P138" LOC = P138;
NET "flag_K3_9_P134" LOC = P134;
NET "flag_output_K3_13_P127" LOC = P127;
NET "clkbb_K3_11_P132" LOC = P132;
# PlanAhead Generated physical constraints 

NET "a_P41" LOC = P41;
NET "b_P40" LOC = P40;
NET "c_P35" LOC = P35;
NET "common0_P44" LOC = P44;
NET "common1_P43" LOC = P43;
NET "common2_P33" LOC = P33;
NET "common3_P30" LOC = P30;
NET "d_P34" LOC = P34;
NET "e_P32" LOC = P32;
NET "f_P29" LOC = P29;
NET "g_P27" LOC = P27;
NET "DIP8_P99" LOC = P99;
NET "cclk_K3_15_P124" LOC = P124;
